@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

:root {
  --primary-color: #eee;
  --secondary-color: #000;
  --bg-color: #f6f6f6;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

/* =========================*\
        Header
\*========================= */

header {
  width: 100%;
  padding: 2rem;
}

header h1 {
  font-size: 4rem;
  text-align: center;
}

/* =========================*\
        Main
\*========================= */
main {
  width: 100%;
  min-height: 80vh;
  max-width: 1200px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper .show-score {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 500px;
  flex-basis: 100%;
  max-height: 450px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
}

.wrapper .show-score .head-score {
  display: flex;
  padding: 2rem;
  gap: 10px;
  justify-content: space-between;
  border: 1px solid var(--secondary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--primary-color);
}

.wrapper .add-score h3 {
  padding: 2rem 0;
  font-size: 3rem;
}

.wrapper .show-score .head-score h3 {
  font-size: 3rem;
}

.wrapper .show-score .head-score button {
  padding: 0 1rem;
  cursor: pointer;
}

.wrapper .add-score form .submit-btn button {
  padding: 1rem;
  cursor: pointer;
}

.wrapper .show-score .head-score button:active {
  transform: scale(0.98);
}

.wrapper .show-score .list-score {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--secondary-color);
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrapper .show-score .list-score li {
  padding: 2rem;
  font-size: 2rem;
  transition: transform 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.wrapper .show-score .list-score li:hover {
  transform: scale(1.05);
}

.wrapper .show-score .list-score li:nth-child(even) {
  background-color: var(--primary-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.wrapper .show-score .list-score li .ranking {
  padding: 1rem;
  text-align: center;
  border: 1px solid var(--secondary-color);
  min-width: 20px;
  min-height: 20px;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: silver;
  font-style: italic;
  font-weight: bold;
}

.wrapper .show-score .list-score li .username {
  flex: 1;
}

/* Add score */
.wrapper .add-score {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  max-width: 300px;
  flex-basis: 100%;
  border: 1px solid var(--secondary-color);
  max-height: 450px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
}

.wrapper .add-score form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.wrapper .add-score form input {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--secondary-color);
}

.wrapper .add-score form .submit-btn {
  text-align: end;
}

.wrapper .add-score form .submit-btn button:active {
  transform: scale(0.98);
}

.wrapper .add-score form .result {
  font-size: 2rem;
  display: none;
}

.wrapper .add-score form .result.success {
  display: block;
  color: green;
}

.wrapper .add-score form .result.error {
  display: block;
  color: red;
}

@media all and (max-width: 900px) {
  .wrapper .show-score {
    height: 50%;
  }
}
